# Include essential documentation, license, and example files
include README.md
include LICENSE
include example.bat
include example.sh

# Recursively include the source code directory
graft src

# include tests and docs. Not that tests require samples in the doc foloder
graft docs
graft tests

# Exclude generated output from the docs folder
prune docs/ocga_output

global-exclude *.py[co]
global-exclude __pycache__